##/* $Id$
##
##   (c) Copyright, Real-Time Innovations, Inc. 2015.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##
##modification history:
##---------------------
##2.2.3,23sep15,djs created 
##========================================================================*/*#
${envMap.POUND_CHAR}include <iostream>

${envMap.POUND_CHAR}include <dds/pub/ddspub.hpp>
${envMap.POUND_CHAR}include <rti/util/util.hpp> // for sleep()

${envMap.POUND_CHAR}include "${envMap.idlFileName}.hpp"

class DDS_Entities
{
public:
    DDS_Entities();
    ~DDS_Entities();
    int dds_setup(int domainId);
    void dds_publish(const int count);

private:
    dds::domain::DomainParticipant *participant;
    dds::topic::Topic<${constructMap.nativeFQName}> *topic;
    dds::pub::DataWriter<${constructMap.nativeFQName}> *writer;
    ${constructMap.nativeFQName} *sample;
};
