## $Id$
##
## (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
## No duplications, whole or partial, manual or electronic, may be made
## without prior written permission.  Any such copies, or
## revisions thereof, must display this notice unaltered.
## This code contains trade secrets of Real-Time Innovations, Inc.
##
## modification history:
## ---------------------
## 2.2,9jun14,vmg created
##========================================================================
Microsoft Visual Studio Solution File, Format Version ${archMap.SOL_FORMAT_VERSION}
# Visual Studio ${vsNumber}
#foreach($project in $projects)
Project("{${project.id1}}") = "${project.name}", "${project.file}", "{${project.id2}}"
EndProject
#end
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
#foreach($mode in $modes)
		${mode}|Win32 = ${mode}|Win32
		${mode}|x86 = ${mode}|x86
#end
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
#foreach($project in $projects)
#*--*##if($project.type.equals("type"))
#*----*##foreach($mode in $modes)
        {${project.id2}}.${mode}|Win32.ActiveCfg = ${mode}|Win32
        {${project.id2}}.${mode}|Win32.Build.0 = ${mode}|Win32
        {${project.id2}}.${mode}|x86.ActiveCfg = ${mode}|Win32
        {${project.id2}}.${mode}|x86.Build.0 = ${mode}|Win32
#*------*##end		
#*--*##else
#*----*##foreach($mode in $modes)
        {${project.id2}}.${mode}|Win32.ActiveCfg = ${mode}|x86
        {${project.id2}}.${mode}|Win32.Build.0 = ${mode}|x86
        {${project.id2}}.${mode}|x86.ActiveCfg = ${mode}|x86
        {${project.id2}}.${mode}|x86.Build.0 = ${mode}|x86
#*----*##end
#*--*##end
#end
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal