## $Id$
##
## (c) Copyright, Real-Time Innovations, Inc. 2001.  All rights reserved.
## No duplications, whole or partial, manual or electronic, may be made
## without prior written permission.  Any such copies, or
## revisions thereof, must display this notice unaltered.
## This code contains trade secrets of Real-Time Innovations, Inc.
##
## modification history:
## ---------------------
## 2.2,9jun14,vmg created
##========================================================================
<?xml version="1.0" encoding="Windows-1252"?>
<VisualStudioProject
	ProjectType="Visual C++"
	Version="${archMap.PROJECT_FORMAT_VERSION}"
	Name="${global.idlFileName}_${projectName}"
	RootNamespace="${global.idlFileName}_${projectName}"
	>
	<Platforms>
		<Platform
			Name="${platform}"
		/>
	</Platforms>
	<ToolFiles>
	</ToolFiles>
	<Configurations>
		<Configuration
			Name="Debug|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\${global.idlFileName}_${projectName}.tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="0"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="WIN32;RTI_WIN32;_DEBUG;_CONSOLE;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				BasicRuntimeChecks="3"
				RuntimeLibrary="1"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				DebugInformationFormat="${archMap.DEBUG_INFORMATION_FORMAT}"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($debugStaticLib in ${debugStaticLibs})${debugStaticLib}.lib #end#[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\${global.idlFileName}_${projectName}.exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName}"
				GenerateDebugInformation="true"
				ProgramDatabaseFile="${outputDir}\\${global.idlFileName}_${projectName}.pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Debug DLL|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\${global.idlFileName}_${projectName}.tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="0"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="NDDS_DLL_VARIABLE;WIN32_LEAN_AND_MEAN;WIN32;RTI_WIN32;_DEBUG;_CONSOLE;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				BasicRuntimeChecks="3"
				RuntimeLibrary="3"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				DebugInformationFormat="${archMap.DEBUG_INFORMATION_FORMAT}"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="_DEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($debugDynamicLib in ${debugDynamicLibs})${debugDynamicLib}.lib #end#[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\${global.idlFileName}_${projectName}.exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName}"
				GenerateDebugInformation="true"
				ProgramDatabaseFile="${outputDir}\\${global.idlFileName}_${projectName}.pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Release|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\${global.idlFileName}_${projectName}.tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="2"
				InlineFunctionExpansion="1"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="WIN32;RTI_WIN32;NDEBUG;_CONSOLE;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				StringPooling="true"
				RuntimeLibrary="0"
				EnableFunctionLevelLinking="true"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($releaseStaticLib in ${releaseStaticLibs})${releaseStaticLib}.lib #end#[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\${global.idlFileName}_${projectName}.exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName}"
				ProgramDatabaseFile="${outputDir}\\${global.idlFileName}_${projectName}.pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
		<Configuration
			Name="Release DLL|${platform}"
			OutputDirectory="${outputDir}"
			IntermediateDirectory="${outputDir}"
			ConfigurationType="1"
			UseOfMFC="0"
			ATLMinimizesCRunTimeLibraryUsage="false"
			CharacterSet="2"
			>
			<Tool
				Name="VCPreBuildEventTool"
			/>
			<Tool
				Name="VCCustomBuildTool"
			/>
			<Tool
				Name="VCXMLDataGeneratorTool"
			/>
			<Tool
				Name="VCWebServiceProxyGeneratorTool"
			/>
			<Tool
				Name="VCMIDLTool"
				TypeLibraryName="${outputDir}\\${global.idlFileName}_${projectName}.tlb"
				HeaderFileName=""
			/>
			<Tool
				Name="VCCLCompilerTool"
				Optimization="2"
				InlineFunctionExpansion="1"
				AdditionalIncludeDirectories="#foreach($headersDirectory in ${headerDirectories})$headersDirectory,#end"
				PreprocessorDefinitions="NDDS_DLL_VARIABLE;WIN32_LEAN_AND_MEAN;WIN32;RTI_WIN32;NDEBUG;_CONSOLE;#foreach($preprocessorDefinition in ${additionalDefines})$preprocessorDefinition;#end"
				StringPooling="true"
				RuntimeLibrary="2"
				EnableFunctionLevelLinking="true"
				UsePrecompiledHeader="0"
				PrecompiledHeaderFile=""
				AssemblerListingLocation="${outputDir}\"
				ObjectFile="${outputDir}\"
				ProgramDataBaseFileName="${outputDir}\"
				WarningLevel="3"
				SuppressStartupBanner="true"
				CompileAs="0"
			/>
			<Tool
				Name="VCManagedResourceCompilerTool"
			/>
			<Tool
				Name="VCResourceCompilerTool"
				PreprocessorDefinitions="NDEBUG"
				Culture="1033"
			/>
			<Tool
				Name="VCPreLinkEventTool"
			/>
			<Tool
				Name="VCLinkerTool"
				AdditionalDependencies="#foreach($releaseDynamicLib in ${releaseDynamicLibs})${releaseDynamicLib}.lib #end#[[]]#netapi32.lib advapi32.lib user32.lib WS2_32.lib "
				OutputFile="${outputDir}\\${global.idlFileName}_${projectName}.exe"
				LinkIncremental="0"
				SuppressStartupBanner="true"
				AdditionalLibraryDirectories="$(NDDSHOME)\lib\\${global.architectureName}"
				ProgramDatabaseFile="${outputDir}\\${global.idlFileName}_${projectName}.pdb"
				SubSystem="1"
				TargetMachine="${archMap.TARGET_MACHINE}"
			/>
			<Tool
				Name="VCALinkTool"
			/>
			<Tool
				Name="VCManifestTool"
			/>
			<Tool
				Name="VCXDCMakeTool"
			/>
			<Tool
				Name="VCBscMakeTool"
			/>
			<Tool
				Name="VCFxCopTool"
			/>
			<Tool
				Name="VCAppVerifierTool"
			/>
			<Tool
				Name="VCWebDeploymentTool"
			/>
			<Tool
				Name="VCPostBuildEventTool"
			/>
		</Configuration>
	</Configurations>
	<References>
	</References>
	<Files>
		<Filter
			Name="Source Files"
			Filter="cpp;c;cxx;rc;def;r;odl;idl;hpj;bat"
			>
#foreach($sourceFile in ${sourceFiles})
			<File
				RelativePath="${sourceFile}"
				>
				<FileConfiguration
					Name="Debug|${platform}"
					>
					<Tool
						Name="VCCLCompilerTool"
						Optimization="0"
						AdditionalIncludeDirectories=""
						PreprocessorDefinitions=""
						BasicRuntimeChecks="3"
					/>
				</FileConfiguration>
				<FileConfiguration
					Name="Release|${platform}"
					>
					<Tool
						Name="VCCLCompilerTool"
						Optimization="2"
						AdditionalIncludeDirectories=""
						PreprocessorDefinitions=""
					/>
				</FileConfiguration>
			</File>
#end
#foreach($sourceFile in ${additionalSourceFiles})
            <File
                RelativePath="${sourceFile}"
                >
                <FileConfiguration
                    Name="Debug|${platform}"
                    >
                    <Tool
                        Name="VCCLCompilerTool"
                        Optimization="0"
                        AdditionalIncludeDirectories=""
                        PreprocessorDefinitions=""
                        BasicRuntimeChecks="3"
                    />
                </FileConfiguration>
                <FileConfiguration
                    Name="Release|${platform}"
                    >
                    <Tool
                        Name="VCCLCompilerTool"
                        Optimization="2"
                        AdditionalIncludeDirectories=""
                        PreprocessorDefinitions=""
                    />
                </FileConfiguration>
            </File>
#end
		</Filter>
		<Filter
			Name="Header Files"
			Filter="h;hpp;hxx;hm;inl"
			>
#foreach($headerFile in ${headerFiles})
			<File
				RelativePath="${headerFile}"
				>
			</File>
#end
#foreach($headerFile in ${additionalHeaderFiles})
            <File
                RelativePath="${headerFile}"
                >
            </File>
#end
		</Filter>
		<Filter
			Name="Resource Files"
			Filter="ico;cur;bmp;dlg;rc2;rct;bin;rgs;gif;jpg;jpeg;jpe"
			>
			<File
				RelativePath="USER_QOS_PROFILES.xml"
				>
			</File>
		</Filter>
	</Files>
	<Globals>
	</Globals>
</VisualStudioProject>