##/* $Id$
##
##   (c) Copyright, Real-Time Innovations, Inc. 2015.  All rights reserved.
##   No duplications, whole or partial, manual or electronic, may be made
##   without prior written permission.  Any such copies, or
##   revisions thereof, must display this notice unaltered.
##   This code contains trade secrets of Real-Time Innovations, Inc.
##
##modification history:
##---------------------
##2.2.3,23sep15,djs created 
##========================================================================*/*#
${envMap.POUND_CHAR}include "ndds/ndds_cpp.h"
${envMap.POUND_CHAR}include "${envMap.idlFileName}.h"
${envMap.POUND_CHAR}include "${envMap.idlFileName}Support.h"

class DDS_Entities
{
public:
    DDS_Entities();
    int dds_setup(int domainId);
    void dds_publish(const int count);
    int publisher_shutdown();

private:
    DDSDomainParticipant *participant;
    DDSPublisher *publisher;
    DDSTopic *topic;
    DDSDataWriter *writer;
    ${constructMap.nativeFQName}DataWriter *${constructMap.nativeFQName}_writer;
    ${constructMap.nativeFQName} *instance;
    DDS_InstanceHandle_t instance_handle;
};
